.feedback-form__input-field {
  font-family: inherit;
  padding: 10px;
  background-color: #EAEAEA;
  border-radius: 8px;
  border: 0;
  font-size: 16px;
  font-weight: 400;
  color: #22223B;
}

.feedback-form__input-field::placeholder {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  color: #9A8C98;
}
