.header__container {
  padding: 10px 56px;

  /* display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 56px;
  row-gap: 16px; */

  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  column-gap: 56px;
  row-gap: 16px;

  @media (width <= 1130px) {
    grid-template-columns: auto auto;
    /* justify-content: flex-start; */
  }
}
